.chatInputWrapper {
  display: grid;
  background-color: gray;
  grid-row-start: 190;
  grid-row-end: 190;
}

.message-area-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrolling-class::-webkit-scrollbar {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 50vw;
  border: 20rem;
  width: 1px;
}

#test li:hover {
  background-color: brown;
  cursor: "pointer";
}
