.font-loader {
  font-family: "Inter";
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: relative;
  top: -20px;
  right: 10px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 10%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 10px;
  text-align: center;
  justify-self: right;
  border-radius: 10px;
}
